<%- include('partials/header.ejs') %>
<header>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-md">
        <a class="navbar-brand" href="site/">Voltar</a>
      </div>
    </nav>
  </header>
  
  <br><br><br><br>
  
    <body style="background-color:rgb(128, 128, 129);">
        
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        EDITAR AGENDAMENTO
                    </div>
                    <div class="card-body">
                        
                        <form method="post" action="/update-cadastro">
                            <div class="mb-3">
                                <label for="lblTitulo" class="form-label">Nome</label>
                                <input type="text" class="form-control" id="lblTitulo" name="f_nome"
                                    placeholder="DIGITE O SEU NOME" required value="<%= cadastro.nome %>">
                            </div>
                            <div class="mb-3">
                                <label for="ttaDescricao" class="form-label">Horario</label>
                                <textarea class="form-control" id="ttaDescricao" rows="3" name='f_email'
                                    required><%= cadastro.email %></textarea>
                            </div>
                            <input type="hidden" name="f_id" value="<%= cadastro.id %>">
                            <div class="mb-3">
                                <input type="submit" class="btn btn-warning" value="Atualizar">
                                <a href="/" class="btn btn-danger">Cancelar</a>
                            </div>
                        </form>
                   
                    </div>
                
                </div>
            </div>
    </body>

    <%- include('partials/foolter.ejs') %>